@model ImsForPresentation.Models.Feature

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Feature</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FeaturePalette.FeatureName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FeaturePalette.FeatureName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductFeatureName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductFeatureName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductFeature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductFeature)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActiveStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActiveStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
